@using EnumsNET;
@model IEnumerable<ThethanApp.Models.ThetanModel>

@{
  ViewData["Title"] = "Thetan";
}

<h1>Thetan</h1>

<p>
  @using (Html.BeginForm("Thetan", "Controller", FormMethod.Post))
  {
    <button type="submit" class="btn btn-primary">UPDATE</button>
  }
</p>
<div class="table-responsive">
  <table class="table table-hover">
  
    <thead>
      <tr>
        <th scope="col">
          <p>filters</p>
        </th>
      </tr>
      <tr>
        <th scope="col">
          @Html.DisplayNameFor(model => model.Id)
          Total results: @Model.Count() thetans in last hour. Last search  @ViewBag.LastUpdate.
        </th>
      </tr>
    </thead>
    <tbody>
      @foreach (var thetan in Model)
      {
        <tr>
          <td>
            <table>
              <tr>
                <td>
                  <div class="left" style="font-size:0.9em;margin: 20px; display:inline-block;">
                    <div>
                      <div class="left">
                        <img class="rounded border" style="border-color:@(((GradeROI)thetan.Roi50PerCentGrade).AsString(EnumFormat.Description)) !important" width="100" height="100" src="@Html.DisplayFor(modelItem => thetan.avatarSmall)" alt="Image" />
                      </div>
                      <div class="left" style="width:30px; margin:3px;">
                        <svg viewBox="0 0 10 10">
                          <g>
                            <rect x="0" y="0" width="10" height="10" fill="@(((GradeROI)thetan.Roi50PerCentGrade).AsString(EnumFormat.Description))"></rect>
                            <text x="5" y="8" class="percentage">@((thetan.Roi50PerCentGrade).ToString().Replace("Plus", "+"))</text>
                          </g>
                        </svg>
                      </div>
                    </div>
                    <div class="clear nowrap" style="font-size:1.1em; margin: 10px;">
                      <strong>@Html.DisplayFor(modelItem => thetan.Name)</strong>

                    </div>
                    <div class="nowrap">
                      <strong style="font-size:0.8em">@Html.DisplayNameFor(model => model.Roi50PerCent) : </strong> @((thetan.Roi50PerCent).ToString("0"))%
                    </div>
                    <div class="nowrap">
                      <strong style="font-size:0.8em"><img src="~/img/icon_battles.png" width="20" />@Html.DisplayNameFor(model => model.BattleCap) : </strong>@Html.DisplayFor(modelItem => thetan.BattleCap)
                    </div>
                    <div class="nowrap">
                      <strong style="font-size:0.8em"><img src="~/img/icon_battles.png" width="20" />@Html.DisplayNameFor(model => model.BattleCapMax) : </strong> @(thetan.BattleCapMax - thetan.BattleCap) / @Html.DisplayFor(modelItem => thetan.BattleCapMax)
                    </div>
                    <div>
                      <div class="margin-5">
                        <button type="button" class="btn btn-primary" onclick="window.open('@Html.DisplayFor(modelItem => thetan.LinkMarket)')"> @Html.DisplayNameFor(model => model.LinkMarket)</button>
                      </div>
                    </div>
                  </div>
                  <div class="right" style="margin:10px; display:inline-block;">
                    <div style="font-size:0.6em">
                      @thetan.LastModifiedAgo
                    </div>
                    <div>
                      <strong style="font-size:1.2em">$@((thetan.PriceConverted).ToString("0.###"))</strong> (@((thetan.Price).ToString("0.###"))  WBNB)
                    </div>
                  </div>
                  <div class="right" style="margin:10px; display:inline;">
                    <div>
                      @foreach (var roi in thetan.ROIProfit)
                      {
                        Html.RenderPartial("_RoiProfitByWinRatePartial", roi);

                      }
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
